{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {% render 'icon-caret' %}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <ul
                  class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    <li>
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                      {%- if childlink.links != blank -%}
                        <ul class="list-unstyled" role="list">
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
    {%- assign sale_collection = section.settings.sale_collection -%}
    {%- assign sale_url = section.settings.sale_link | default: sale_collection.url | default: '/collections/last-chance' -%}
    {%- assign sale_label = section.settings.sale_label | default: 'Sale' -%}
    {%- if sale_url != blank -%}
      <li>
        <a
          href="{{ sale_url }}"
          class="header__menu-item list-menu__item link link--text focus-inset header__menu-item--sale"
        >
          <span class="header__sale-label">
            <span class="header__sale-dot" aria-hidden="true"></span>
            {{ sale_label | escape }}
          </span>
        </a>
      </li>
    {%- endif -%}
    {%- assign size_guide_url = section.settings.size_guide_link | default: '/pages/size-fit-guide' -%}
    {%- assign size_guide_label = section.settings.size_guide_label | default: 'Size & Fit Guide' -%}
    {%- if size_guide_url != blank -%}
      <li>
        <a
          href="{{ size_guide_url }}"
          class="header__menu-item list-menu__item link link--text focus-inset header__menu-item--size-guide"
        >
          <span>{{ size_guide_label | escape }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- assign occasions_menu_handle = section.settings.occasions_menu -%}
    {%- assign occasions_label = section.settings.occasions_title | default: 'Occasions' -%}
    {%- assign occasions_menu = blank -%}
    {%- if occasions_menu_handle != blank and linklists[occasions_menu_handle] != blank -%}
      {%- assign occasions_menu = linklists[occasions_menu_handle] -%}
    {%- endif -%}
    {%- assign fallback_occasions = 'Christmas photos::/collections/christmas-photo-outfits|Beach vacation::/collections/beach-vacation|Birthday parties::/collections/birthday-party-outfits|Everyday matching::/collections/family-sets' | split: '|' -%}
    {%- if occasions_menu != blank or fallback_occasions != blank -%}
      <li>
        <header-menu>
          <details id="Details-HeaderMenu-occasions" class="mega-menu">
            <summary
              id="HeaderMenu-occasions"
              class="header__menu-item list-menu__item link focus-inset"
            >
              <span>{{- occasions_label | escape -}}</span>
              {% render 'icon-caret' %}
            </summary>
            <div
              id="MegaMenu-Content-occasions"
              class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
              tabindex="-1"
            >
              <ul
                class="mega-menu__list mega-menu__list--occasions page-width"
                role="list"
              >
                {%- if occasions_menu != blank and occasions_menu.links.size > 0 -%}
                  {%- for childlink in occasions_menu.links -%}
                    {%- assign occasion_image = blank -%}
                    {%- if childlink.object != blank -%}
                      {%- if childlink.object.image != blank -%}
                        {%- assign occasion_image = childlink.object.image -%}
                      {%- elsif childlink.object.featured_image != blank -%}
                        {%- assign occasion_image = childlink.object.featured_image -%}
                      {%- endif -%}
                    {%- endif -%}
                    <li class="mega-menu__occasion-item">
                      <a
                        id="HeaderMenu-occasions-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="mega-menu__occasion-link link{% if childlink.current %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {%- if occasion_image != blank -%}
                          <span class="mega-menu__occasion-media">
                            {{
                              occasion_image
                              | image_url: width: 360
                              | image_tag:
                                loading: 'lazy',
                                widths: '180, 240, 360',
                                sizes: '(min-width: 1200px) 180px, 40vw',
                                alt: childlink.title | escape
                            }}
                          </span>
                        {%- endif -%}
                        <span class="mega-menu__occasion-label">{{ childlink.title | escape }}</span>
                      </a>
                    </li>
                  {%- endfor -%}
                {%- else -%}
                  {%- for fallback in fallback_occasions -%}
                    {%- assign fallback_parts = fallback | split: '::' -%}
                    {%- assign fallback_title = fallback_parts[0] | strip -%}
                    {%- assign fallback_url = fallback_parts[1] | default: '/' -%}
                    <li class="mega-menu__occasion-item">
                      <a
                        href="{{ fallback_url }}"
                        class="mega-menu__occasion-link link"
                      >
                        <span class="mega-menu__occasion-label">{{ fallback_title }}</span>
                      </a>
                    </li>
                  {%- endfor -%}
                {%- endif -%}
              </ul>
            </div>
          </details>
        </header-menu>
      </li>
    {%- endif -%}
  </ul>
</nav>
